.statistics-dialog {
  position: relative;
  font-size: calc(var(--ght-unit) * 2.5 * var(--ght-text-factor));

  .header {
    .title {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .number {
        font-size: calc(var(--ght-unit) * 3 * var(--ght-text-factor));
      }
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    padding: 0;

    tr {
      margin: 0;
      padding: 0;
      border-bottom: calc(var(--ght-unit) * 0.2 * var(--ght-dialog-factor)) solid var(--ght-color-darkgray);
    }

    tbody tr {
      &:nth-child(odd) {
        background-color: var(--ght-color-lightgray);
      }

      &:hover {
        background-color: var(--ght-color-yellow-light);
      }
    }

    th,
    td {
      vertical-align: middle;
      padding: calc(var(--ght-unit) * 0.5 * var(--ght-dialog-factor)) calc(var(--ght-unit) * 2 * var(--ght-dialog-factor));
      border-right: calc(var(--ght-unit) * 0.2 * var(--ght-dialog-factor)) solid var(--ght-color-darkgray);
    }

    th {
      text-align: right;
      font-family: var(--ght-font-title);
      font-weight: initial;
    }

    td {
      font-family: var(--ght-font-text);
      text-align: center;

      & > span {
        margin: 0 calc(var(--ght-unit) * 0.4 * var(--ght-dialog-factor));
      }
    }

    .character {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .success {
      color: var(--ght-color-green);
    }

    .failure {
      color: var(--ght-color-red);
    }

    img {
      height: calc(var(--ght-unit) * 4 * var(--ght-dialog-factor));
      margin-right: calc(var(--ght-unit) * 0.5 * var(--ght-dialog-factor));
    }

    .ght-svg {
      width: calc(var(--ght-unit) * 3 * var(--ght-dialog-factor));
      height: auto;
    }

    .loot {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      & > span {
        margin: 0 calc(var(--ght-unit) * 0.4 * var(--ght-dialog-factor));
      }
    }
  }
}
