.items {
  display: flex;
  flex-direction: column;

  img {
    width: auto;
    height: calc(var(--ght-unit) * 2 * var(--ght-dialog-factor));
  }

  .button {
    cursor: pointer;
    display: flex;
    align-items: center;

    &.add img {
      filter: var(--ght-filter-green);
    }

    &.remove img {
      filter: var(--ght-filter-red);
    }

    &.loot {
      margin-right: calc(var(--ght-unit) * 0.5 * var(--ght-dialog-factor));
      color: var(--ght-color-yellow);

      img {
        filter: var(--ght-filter-yellow);
        width: calc(var(--ght-unit) * 2 * var(--ght-dialog-factor));
      }
    }

    &.distill {
      margin-right: calc(var(--ght-unit) * 0.5 * var(--ght-dialog-factor));
      color: var(--ght-color-yellow);

      img {
        filter: var(--ght-filter-blue);
        width: calc(var(--ght-unit) * 2 * var(--ght-dialog-factor));
      }
    }

    &.craft {
      margin-right: calc(var(--ght-unit) * 0.5 * var(--ght-dialog-factor));
      color: var(--ght-color-black);

      .resource {
        display: flex;
        align-items: center;
        margin-right: calc(var(--ght-unit) * 0.5 * var(--ght-dialog-factor));

        img {
          width: calc(var(--ght-unit) * 2 * var(--ght-dialog-factor));
        }
      }

      .item {
        margin-right: calc(var(--ght-unit) * 0.5 * var(--ght-dialog-factor));
      }
    }

    &.disabled {
      color: var(--ght-color-darkgray) !important;

      img {
        filter: var(--ght-filter-darkgray) !important;
      }

      .item,
      .resource img {
        opacity: 0.6;
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .item-list {
    font-family: var(--ght-font-text);
    display: flex;
    flex-direction: column;
    overflow: visible;

    .item-entry {
      display: flex;
      align-items: center;
      margin: calc(var(--ght-unit) * 0.4 * var(--ght-dialog-factor));

      .item-dialog {
        cursor: zoom-in;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: calc(var(--ght-unit) * 3.5 * var(--ght-dialog-factor));
      }

      .id {
        text-align: right;
        margin-right: calc(var(--ght-unit) * 0.4 * var(--ght-dialog-factor));
        width: calc(var(--ght-unit) * 3.5 * var(--ght-dialog-factor));
      }

      .id {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: var(--ght-font-title);
        font-size: calc(var(--ght-unit) * 2 * var(--ght-dialog-factor));
      }

      .name {
        cursor: pointer;
        display: inline-block;
        font-family: var(--ght-font-title);
        font-size: calc(var(--ght-unit) * 2 * var(--ght-dialog-factor));

        &.disabled {
          cursor: initial;
        }
      }

      .edition {
        font-size: calc(var(--ght-unit) * 1.5 * var(--ght-dialog-factor));
      }

      .action-icon {
        width: calc(var(--ght-unit) * 3 * var(--ght-dialog-factor));
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: calc(var(--ght-unit) * 2 * var(--ght-dialog-factor));
          width: auto;
        }
      }

      .loot {
        width: calc(var(--ght-unit) * 3.5 * var(--ght-dialog-factor));
      }

      .equipped {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: calc(var(--ght-unit) * 0.5 * var(--ght-dialog-factor));

        img {
          filter: var(--ght-filter-green);
          height: calc(var(--ght-unit) * 1.5 * var(--ght-dialog-factor));
          width: auto;
        }
      }

      .effect {
        &.hint-container {
          .hint-trigger.ght-svg {
            filter: var(--ght-filter-gray);
          }

          .hint {
            left: initial;
            right: 0;
          }
        }
      }

      .minus-one {
        font-family: var(--ght-font-title);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: calc(var(--ght-unit) * 0.5 * var(--ght-dialog-factor));

        img {
          margin-right: calc(var(--ght-unit) * 0.2 * var(--ght-dialog-factor));
        }

        &.ignore {
          opacity: 0.5;
        }
      }
    }
  }

  .item-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: calc(var(--ght-unit) * 33 * var(--ght-dialog-factor));

    a {
      cursor: pointer;
      color: var(--ght-color-black);
      display: flex;
      align-items: center;
      font-size: calc(var(--ght-unit) * 2.5 * var(--ght-dialog-factor));

      img {
        height: 1em;
        width: auto;
        margin-right: calc(var(--ght-unit) * 0.5 * var(--ght-dialog-factor));
      }

      &:hover {
        opacity: 0.7;
      }

      &.disabled {
        cursor: initial;
        opacity: 0.8;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
