<div class="container">
  <ght-header [standalone]="true"></ght-header>

  <div class="menu">
    <label>
      <span [ght-label]="'settings.edition'"></span>
      <select [(ngModel)]="edition" (change)="update(); updateQueryParams()">
        @for (edition of gameManager.editions(true); track edition) {
          <option [value]="edition">
            <span [ght-label]="'data.edition.' + edition"></span>
          </option>
        }
      </select>
    </label>
  </div>

  @if (edition) {
    <div class="treasures">
      @for (treasure of treasures | trackUUID; track treasure._trackUUID) {
        <div class="treasure">
          <span class="index">{{ treasure.index }}</span>
          <ght-treasure-label class="placeholder text-white" [treasure]="treasure" [edition]="edition"></ght-treasure-label>
        </div>
      }
    </div>
  }
</div>
