<div class="loot-cards-dialog">
  <div class="scroll-container">
    <div class="menu">
      <a (click)="sort()"><span [ght-label]="sorted ? 'character.lootCards.drawn' : 'character.lootCards.sort'"></span></a>
    </div>
    @if (character.lootCards) {
      <div class="loot-cards">
        @for (loot of lootCards | trackUUID; track loot._trackUUID) {
          <div class="loot-container" (click)="randomItem(loot) && randomItemDialog(loot)" [ngClass]="{ 'random-item': randomItem(loot) }">
            <ght-loot [loot]="loot" [flipped]="true" [disableFlip]="true"></ght-loot>
          </div>
        }
      </div>
    }
  </div>
</div>
