.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .dialog {
    max-width: 800px;
    width: 100vw;
    max-height: 100vh;
    overflow: auto;
    font-size: calc(var(--ght-unit) * 3 * var(--ght-text-factor));
    color: var(--ght-color-white);

    .dialog-container {
      margin: calc(var(--ght-unit) * 2 * var(--ght-text-factor));
    }
  }
}
