.monster-add {
  min-width: calc(var(--ght-unit) * 70 * var(--ght-dialog-factor));

  .filter-monster-menu {
    position: fixed;
    background-image: url('../../../../../assets/images/dialog_background.png');
    z-index: 2;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.fh {
      background-image: url('../../../../../assets/images/fh/dialog_background_fh.png');
    }

    &.modern {
      background-image: url('../../../../../assets/images/modern/dialog_background_modern.png');
    }

    & + .columns .column .line.sticky,
    & + .columns .column .line:not(sticky):first-child {
      padding-top: calc(var(--ght-unit) * 14 * var(--ght-dialog-factor));
    }

    &.all-editions {
      & + .columns .column .line.sticky,
      & + .columns .column .line:not(sticky):first-child {
        padding-top: calc(var(--ght-unit) * 17 * var(--ght-dialog-factor));
      }
    }
  }

  .bosses {
    & > .boss:not(:nth-child(2)) {
      margin-top: calc(var(--ght-unit) * 1 * var(--ght-dialog-factor));
      border-top: calc(var(--ght-unit) * 0.1 * var(--ght-dialog-factor)) solid var(--ght-color-gray);
    }

    & > .boss ~ .boss {
      margin-top: 0;
      border-top: none;
    }

    .boss-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(var(--ght-unit) * 3 * var(--ght-dialog-factor));
      height: calc(var(--ght-unit) * 3 * var(--ght-dialog-factor));
      background-color: var(--ght-color-darkred);
      border: 2px solid var(--ght-color-gray);
      border-radius: 100%;
      margin-right: calc(var(--ght-unit) * 0.5 * var(--ght-dialog-factor));

      img {
        width: calc(var(--ght-unit) * 1.5 * var(--ght-dialog-factor));
        height: auto;
      }
    }

    .hidden-icon {
      margin-left: calc(var(--ght-unit) * 1 * var(--ght-dialog-factor));
      filter: var(--ght-filter-gray);
    }
  }

  .hidden-monster a {
    font-style: italic;
    font-size: calc(var(--ght-unit) * 2.7 * var(--ght-dialog-factor));
  }
}
