.condition {
  font-family: var(--ght-font-text);

  &.fh {
    font-family: var(--ght-font-fh-normal);
  }

  .disabled {
    opacity: 0.4;
  }

  .text.debug {
    color: red;
  }

  &.narrative {
    font-style: italic;
    text-transform: uppercase;

    .condition-character {
      font-size: 1.1em;
    }

    .lowercase {
      text-transform: initial;
    }
  }

  .condition-object {
    .and-container,
    .conditional-container {
      ght-event-card-condition {
        margin: 0 0.2em;
      }
    }
  }
}
