<div class="container">
  <ght-header [standalone]="true"></ght-header>

  <div class="menu">
    <label>
      <span [ght-label]="'settings.edition'"></span>
      <select [(ngModel)]="edition" (change)="update(); updateQueryParams()">
        @for (edition of gameManager.editions(true); track edition) {
          <option [value]="edition">
            <span [ght-label]="'data.edition.' + edition"></span>
          </option>
        }
      </select>
    </label>
  </div>

  @if (edition) {
    <div class="sections">
      @for (section of sections | trackUUID; track section._trackUUID) {
        <div class="section">
          <ght-random-monster-card [section]="section" [flipped]="true"></ght-random-monster-card>
        </div>
      }
    </div>
  }
</div>
